# groupby

### groupby('分组变量')[['度量变量']].max()

In [ ]:
# sample.groupby('grade')[['math']].max()

In [ ]:
# sample.groupby(['grade','class'])[['math']].mean()

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family'] = 'SimHei'

Data = pd.read_csv("data.csv", encoding = "UTF-8")

In [2]:
Data.head()

,Unnamed: 0,Unnamed: 0.1,dt,phone_no,member_id,commodity_code,commodity_name,commodity_origin_money,coupon_id,coupon_money,one_category_name,two_category_name,commodity_income,pay_money,coffeestore_share_money
0,0,0,2019-01-25,13901387938,14442,SP025,榛果拿铁,27.0,7045.0,19.44,饮品,现磨咖啡,7.56,7.56,0.0
1,1,1,2019-01-27,13901387938,14442,SP209,NFC鲜榨橙汁,24.0,NaN,0.00,饮品,鲜榨果蔬汁,0.00,0.00,0.0
2,2,2,2019-01-23,13901387938,14442,SP025,榛果拿铁,27.0,5589.0,22.14,饮品,现磨咖啡,4.86,4.86,0.0
3,3,3,2019-02-01,13901387938,14442,SP025,榛果拿铁,27.0,6604.0,19.44,饮品,现磨咖啡,7.56,7.56,0.0
4,4,4,2019-01-27,13901387938,14442,SP010,巧克力瑞纳冰,27.0,6947.0,14.04,饮品,瑞纳冰,12.96,12.96,0.0

### Problem 1&emsp;Find the time span of the order data.

In [3]:
# loop
print('The time span of the order data:',Data['dt'].min(),'to', Data['dt'].max())

The time span of the order data: 2019-01-20 to 2019-03-01

### Problem 2&emsp;Find the number of orders each day.

In [4]:
dates_sales=Data.groupby('dt')[['dt']].count()
dates_sales.columns=['daily_sales']
print('The number of orders each day:')
dates_sales[['daily_sales']]

The number of orders each day:

            daily_sales
dt
2019-01-20        69859
2019-01-21       117686
2019-01-22       118409
2019-01-23       126331
2019-01-24       125764
2019-01-25       122092
2019-01-26        77779
2019-01-27        66399
2019-01-28       106025
2019-01-29       104704
2019-01-30       101047
2019-01-31        97701
2019-02-01        87458
2019-02-02        64267
2019-02-03        43106
2019-02-04         7113
2019-02-05         8516
2019-02-06         7769
2019-02-07         7655
2019-02-08         7822
2019-02-09         8452
2019-02-10         8241
2019-02-11        40365
2019-02-12        43334
2019-02-13        50789
2019-02-14        49092
2019-02-15        49836
2019-02-16        29672
2019-02-17        25179
2019-02-18        52260
2019-02-19        51624
2019-02-20        53121
2019-02-21        51817
2019-02-22        53685
2019-02-23        31964
2019-02-24        27414
2019-02-25        53969
2019-02-26        50018
2019-02-27        48970
2019-02-28        51272
2019-03-01        53279

### Problem 2-a

### Problem 3&emsp;Find the number of users.

### Problem 4&emsp;Find ten commodities with the highest sales. 
### Draw graphs with x-axis the commodity name and y-axis the # of orders.

### Problem 5&emsp;Find the discount rate of each order and concat it onto the original dataset with column name *<font>discount_rate</font>*.

### Problem 6&emsp;Find the average discount of each week. (One week should consist of Sunday to Saturday.)

### Problem 7&emsp;Find the *<font>Retention Rate</font>* of any five days. It is the ratio of users purchasing again on the next day.

### Problem 8&emsp;Find the *<font>Week Retention Rate</font>* of any day, which means finding users buying at that day and buying again within the next seven days.

### Problem 9&emsp;Find the *<font>Week Retention Rate</font>* of any day for *<font>new users</font>* , which means finding users buying at that day *<font>for the first time</font>*  and buying again within the next seven days.

### Problem 10&emsp;Find the *<font>Retention Rate</font>* *<font>WITHIN</font>* one week of new users.

### Problem 11&emsp;Find “Active Users” (which means the number of orders of one user is greater equal to 5).

### Problem 12&emsp;Write the table you get in 11 as a csv file with filename *<font>ActiveUser.csv</font>*.

### Problem 13&emsp;Provide a description of the number of orders for each active user (# of ActiveUser, mean, range, std, variance, skewness and kurtosis).

### Problem 1

### Problem 2

### Problem 3